.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-180deg, #626668 0, #303434 100%);
    padding: 1em;
    font-size: x-small;
    color: white;
  }
  .footer__link{
    color: yellowgreen;
    text-decoration: none;
  }